<% page_header "Pay Fees - #{@which}", page_title: true %>
<%= simple_form_for :records, url: process_payments_path do |f| %>
  <% @records.each do |record| %>
    <%= f.fields_for "payment_record[#{record.fee_id}]" do |fr| %>
      <div class="row mb-4">
        <div class="col-12 col-md-6 pb-2">
          <%= record.fee.item_title %>
          <div class="xtext-sm text-muted">
            <%= record.fee.owner_description %> - <%= record.fee.fee_description %>
          </div>
        </div>
        <div class="col-5 col-md-3 text-center">
          <%= number_to_currency record.fee.balance %>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" name="records[payment_record[<%= record.fee_id %>]]"
                checked="checked" id="records_payment_record_<%= record.fee_id %>">
          <label for="records_payment_record_<%= record.fee_id %>">Pay this fee</label>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= content_tag(:div, flash[:error], :class=>"alert alert-danger text-center") if flash[:error] %>

  <div class="text-center">
    <%= f.button :submit, "Pay Selected Fees", class: 'btn btn-primary'%>
  </div>
<% end %>