
<table class="table table-condensed">
  <tr><td class="font-weight-light">Fee ID</td><td><%= fee.fee_id %></td></tr>
  <tr><td class="font-weight-light">Fee TYPE</td><td><%= fee.fee_type %></td></tr>
  <tr><td class="font-weight-light">Fee STATUS</td><td><%= fee.fee_status %></td></tr>
  <tr><td class="font-weight-light">Fee Description</td><td><%= fee.fee_description %></td></tr>
  <tr><td class="font-weight-light">Fee User Primary ID</td><td><%= fee.user_primary_id %></td></tr>
  <tr><td class="font-weight-light">Fee Remaining VAT Amount</td><td><%= fee.remaining_vat_amount %></td></tr>
  <tr><td class="font-weight-light">Fee Original Amount</td><td><%= fee.original_amount %></td></tr>
  <tr><td class="font-weight-light">Fee Original Vat Amount</td><td><%= fee.original_vat_amount %></td></tr>
  <tr><td class="font-weight-light">Fee Creation Time</td><td><%= fee.creation_time %></td></tr>
  <tr><td class="font-weight-light">Fee Status Time</td><td><%= fee.status_time %></td></tr>
  <tr><td class="font-weight-light">Fee Owner ID</td><td><%= fee.owner_id %></td></tr>
  <tr><td class="font-weight-light">Fee Owner Description</td><td><%= fee.owner_description %></td></tr>
  <tr><td class="font-weight-light">Fee Item Title</td><td><%= fee.item_title %></td></tr>
  <tr><td class="font-weight-light">Fee Item Barcode</td><td><%= fee.item_barcode %></td></tr>
  <tr><td class="font-weight-light">Fee YorkU ID</td><td><%= fee.yorku_id %></td></tr>
  <tr><td class="font-weight-light">Fee Created At</td><td><%= fee.created_at %></td></tr>
</table>
