<% page_header "Transaction: #{@transaction.id}", page_title: true %>

<div class="card">
  <h5 class="card-header text-white <%= 'bg-success' if ['APPROVED', 'PAID'].include?(@transaction.status) %> <%= 'bg-info' if ['PROCESSING'].include?(@transaction.status) %><%= 'bg-danger' if ['CANCELLED', 'DECLINED'].include?(@transaction.status) %>">
    <%= @transaction.status %>
  </h5>
  <div class="card-body">
    <div class="card-title h1">
      <span class="visually-hidden">Transaction total:</span> 
      <%= number_to_currency @transaction.amount.nil? ? @transaction.total_amount_fees : @transaction.amount %>
    </div>

    <p class="card-text">
      <%= @transaction.created_at.strftime("%A, %b %d %Y %I:%M:%S %p") %> 
    </p>

    <%= link_to "View Log", report_transaction_log_url(@transaction), 
      class: "btn btn-secondary"%>

    <% if @transaction.uid != nil %>
      <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{@transaction.uid}", 
      target: "_blank", class: "btn btn-secondary"%>
    <% end %>
    
    <div class="accordion accordion-flush mt-4" id="payment_records_accordion">
      <% @transaction.records.each do |record| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_<%= record.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= record.id %>" aria-controls="collapse_<%= record.id %>"  aria-expanded="false">
            <span class="text-muted text-truncate"><%= record.fee_item_title %></span>
          </button>
        </h2>
        <div id="collapse_<%= record.id %>" class="accordion-collapse collapse" aria-labelledby="heading_<%= record.id %>" data-bs-parent="#payment_records_accordion">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <span class="text-muted text-sm">Full Payment Record Details</span>
                <%= render "record", record: record rescue "n/a" %>
              </div>
              <div class="col-md-6">
                <span class="text-muted text-sm">Full Fee Details</span>
                <%= render "fee", fee: record.fee rescue "n/a" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
