<div class="row mb-4">
  <div class="col-12 col-md-6 pb-2">
    <span class="text-muted text-sm">Items</span><br/>
    <span class="h6 font-weight-light">
      <% transaction.records.each do |record| %>
        <p><%= record.fee_item_title rescue "n/a" %></p>
      <% end %>
    </span>
  </div>
  <div class="col-12 col-md-6 pb-2">
      <span class="text-muted text-sm">Date: </span>
      <span class="text-monospace">
        <%= format_date transaction.created_at %></span><br/>

      <span class="text-muted text-sm">Amount: </span>
      <span class="text-monospace">
        <%= number_to_currency transaction.amount %></span><br/>

      <span class="text-muted text-sm">Status: </span>
      <span class="text-monospace">
        <%= transaction.status %></span><br/>

      <span class="text-muted text-sm">Receipt</span>
      <span class="text-monospace">
        <% if transaction.uid != nil %>
          <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{transaction.uid}" %>
        <% else %>
          <%= transaction.order_id %>
        <% end %>

      </span>
  </div>



</div>
