<div class="mb-5">
  <h3 class="border-bottom border-2 mb-4 h2 text-muted"><%= transaction.created_at.strftime("%A, %b %d %I:%M:%S %p") %></h3>

  <div class="row">
    <div class="col-12 col-md-8">
      <% transaction.records.each do |record| %>
      <div class="mb-4">
          <div class="h4 text-muted">
            <%= record.fee.nil? ? 'Fee description not available'  : record.fee.fee_description %> 
            <% if !record.fee.nil? %>
              <span class="visually-hidden">Balance:</span> 
              <span class="badge bg-secondary"><%= number_to_currency record.fee.balance %></span>
            <% end %>
          </div>
          <div class="text-muted text-truncate"><%= record.fee.nil? || record.fee.item_title.nil? ? 'Item title not available.' : record.fee.item_title %></div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h5 class="card-header text-white <%= 'bg-success' if ['APPROVED', 'PAID'].include?(transaction.status) %> <%= 'bg-info' if ['PROCESSING'].include?(transaction.status) %><%= 'bg-danger' if ['CANCELLED', 'DECLINED'].include?(transaction.status) %>">
          <%= transaction.status %>
        </h5>
        <div class="card-body">
          <div class="card-title h1"><span class="visually-hidden">Transaction total:</span> <%= number_to_currency transaction.total_amount_fees %></div>
          <% if transaction.status == 'APPROVED' %>
          <p class="card-text">Your card payment was approved.</p>
          <% end %>
          <% if transaction.status == 'CANCELLED' %>
          <p class="card-text">Your card payment was cancelled.</p>
          <% end %>
          <% if transaction.status == 'DECLINED' %>
          <p class="card-text">Your card payment was declined.</p>
          <% end %>
          <% if transaction.status == 'PAID' %>
          <p class="card-text">Your fee payment is now complete.</p>
          <% end %>
          <% if transaction.status == 'PROCESSING' %>
          <p class="card-text">Your card payment is in progress.</p>
          <% end %>
          <p class="card-text">
            <% if transaction.uid != nil %>
              <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{transaction.uid}", target: "_blank", class: "btn btn-secondary"%>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
