<div class="mb-5">
  <h3 class="border-bottom border-2 mb-4 h2 text-muted">
    <%= transaction.created_at.strftime("%A, %b %d %Y") %> 
    <span class="fs-5"><%= transaction.created_at.strftime("%I:%M:%S %p") %></span>
  </h3>

  <div class="row">
    <div class="col-12 col-md-8">
      <% transaction.records.each do |record| %>
      <div class="mb-4">
          <div class="h4 text-muted">
            <% if record.fee.nil? %>
              Fee description not available 
              <span class="invisible"><%= "Payment record ID: #{record.id}" %></span>
            <% else %>
              <%= record.fee.fee_description %>
              <span class="visually-hidden">Amount:</span> 
              <span class="badge bg-secondary"><%= number_to_currency record.fee.balance %></span>
            <% end %>
          </div>
          <div class="text-muted text-truncate">
            <% if record.fee.nil? || record.fee.item_title.nil? %>
              <%= record.fee_item_title %>
              <span class="invisible"> <%= "Fee ID: #{record.fee.id}" unless record.fee.nil? %></span>
            <% else %>
              <%= record.fee.item_title %>
            <% end %> 
          </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h5 class="card-header text-white <%= 'bg-success' if ['APPROVED', 'PAID'].include?(transaction.status) %> <%= 'bg-info' if ['PROCESSING'].include?(transaction.status) %><%= 'bg-danger' if ['CANCELLED', 'DECLINED'].include?(transaction.status) %>">
          <%= transaction.status %>
        </h5>
        <div class="card-body">
          <div class="card-title h1">
            <span class="visually-hidden">Transaction total:</span> 
            <%= number_to_currency transaction.amount.nil? ? transaction.total_amount_fees : transaction.amount %>
          </div>
          <% if transaction.status == 'APPROVED' %>
          <p class="card-text">Transaction was approved.</p>
          <% end %>
          <% if transaction.status == 'CANCELLED' %>
          <p class="card-text">Transaction was cancelled.</p>
          <% end %>
          <% if transaction.status == 'DECLINED' %>
          <p class="card-text">Transaction was declined.</p>
          <% end %>
          <% if transaction.status == 'PAID' %>
          <p class="card-text">Payment is complete.</p>
          <% end %>
          <% if transaction.status == 'PROCESSING' %>
          <p class="card-text">Transaction is in progress.</p>
          <% end %>
          <p class="card-text">
            <% if transaction.uid != nil %>
              <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{transaction.uid}", target: "_blank", class: "btn btn-secondary"%>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
