<div class="mb-5">
  <h3 class="border-bottom"><%= format_date transaction.created_at %></h3>

  <div class="row">
    <div class="col-12 col-md-9">
      <% transaction.records.each do |record| %>
      <div class="mb-4">
          <div class="h5 text-muted">
            <%= record.fee.nil? ? 'Fee description not available'  : record.fee.fee_description %>
          </div>
          <div class="text-muted"><%= record.fee.nil? || record.fee.item_title.nil? ? 'Item title not available.' : record.fee.item_title %></div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <h5 class="card-header text-white <%= ['APPROVED', 'PAID'].include?(transaction.status) ? 'bg-success' : 'bg-danger' %>">
          <%= transaction.status %>
        </h5>
        <div class="card-body">
          <div class="card-title h1"><%= number_to_currency transaction.amount %></div>
          <% if transaction.status == 'APPROVED' %>
          <p class="card-text">Your payment was approved.</p>
          <% end %>
          <% if transaction.status == 'CANCELLED' %>
          <p class="card-text">Your payment was cancelled.</p>
          <% end %>
          <% if transaction.status == 'DECLINED' %>
          <p class="card-text">Your payment was declined.</p>
          <% end %>
          <% if transaction.status == 'PAID' %>
          <p class="card-text">Your payment is complete.</p>
          <% end %>
          <p class="card-text">
            <% if transaction.uid != nil %>
              <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{transaction.uid}", target: "_blank", class: "btn btn-secondary"%>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<!--

  <div class="col-12 col-md-6 pb-2">
      <span class="text-muted text-sm">Date: </span>
      <span class="text-monospace">
        <%= format_date transaction.created_at %></span><br/>

      <span class="text-muted text-sm">Amount: </span>
      <span class="text-monospace">
        <%= number_to_currency transaction.amount %></span><br/>

      <span class="text-muted text-sm">Status: </span>
      <span class="text-monospace">
        <%= transaction.status %></span><br/>

      <span class="text-muted text-sm">Receipt</span>
      <span class="text-monospace">
        <% if transaction.uid != nil %>
          <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{transaction.uid}" %>
        <% else %>
          <%= transaction.order_id %>
        <% end %>

      </span>
-->