<% page_header "Reports", page_title: true %>

<div class="container">

<%= simple_form_for :report, url: reports_path, method: :get do |f| %>
  <div class="row row-cols-2">
    <div class="col">
      <%= f.input :library, required: false, input_html: { class: 'form-control mb-3' }, 
        collection: library_list, selected: @library %>
    </div>
    <div class="col">
      <%= f.input :status,  required: false, allow_blank: true, input_html: { class: 'form-control mb-3' }, 
        collection: ["ALL"] + PaymentTransaction::STATUSES, selected: @status %>
    </div>
    <div class="col">
      <%= f.input :from, required: false, 
      input_html: { value: @from, class: 'form-control mb-3 datepicker', "data-date-format": "yyyy-mm-dd" } %>
    </div>
    <div class="col">
      <%= f.input :to, required: false, 
      input_html: { value: @to, class: 'form-control mb-3 datepicker', "data-date-format": "yyyy-mm-dd" } %>
    </div>
  </div>
  <%= f.submit "Generate", class: "btn btn-primary" %>
<% end %>

<div class="card mt-4">
  <h5 class="card-header">
      <%= format_date @from_date %> - <%= format_date @to_date %>
  </h5>

  <div class="card-body">
    <p class="card-text">Number of transactions: <strong><%= @transactions.size %></strong></p>
    <% @grouped_transactions.each do |status, transactions| %>
      <% amount = transactions.select(&:total_amount_fees).inject(0){ |sum,x| sum + x.total_amount_fees.to_f} %>
      <p class="card-text">Total <%= status %> transaction amount: <strong><%= number_to_currency amount %></strong></p>
    <% end %>
  </div>
</div>


<table class="table xtable-striped table-hover mt-3">
  <tr>
    <th>id</th>
    <th>Date</th>
    <th>Amount</th>
    <th>User ID</th>
    <th>Library</th>
    <th>Status</th>
    <th>YPB Order ID</th>
  </tr>
  <% @transactions.order(created_at: :desc).each do |t| %>
  <tr>
    <td><%= link_to t.id, report_transaction_path(t.id) %></td>
    <td><%= format_date t.created_at %></td>
    <td><%= number_to_currency (t.amount == nil ? t.total_amount_fees : t.amount) %></td>
    <td><%=  t.yorku_id %></td>
    <td><%= library_name t.library_id %></td>
    <td><%= t.status %></td>
    <td>
      <% if t.uid != nil %>
        <%= link_to "View Receipt", "#{Settings.ypb.receipt_page_url}?tokenid=#{t.uid}" %>
        <div class="text-muted small"><%= t.order_id %></div>
      <% else %>
        <%= t.order_id %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

</div>
