<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "YUL Fines" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= render template: "layouts/shared/top_nav" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <% if current_user %>
            <p class="text-center mt-3 text-muted">
              <%= "Admin -" if current_user.admin? %>
              <%= current_user.name %> -
              <%= current_user.yorku_id %>
            </p>
          <% end %>

          <% if  content_for?(:page_header)  %>
            <h1 class="mt-2"><%= yield(:page_header) %></h1>
            <% if content_for?(:page_description)  %>
              <p><%= yield(:page_description) %></p>
            <% end %>
          <% end %>


          <div class="mt-4 card shadow">
            <div class="card-body"><%= yield %></div>
          </div>
        </div>
      </div>
      <!-- <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; <%= Date.current.year %>. York University Libraries.</small>
          </div>
          <div class="col-6 col-md">
            <h5>Help and Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Dispute A Charge</a></li>
              <li><a class="text-muted" href="#">Speak with Staff</a></li>
              <li><a class="text-muted" href="#">Back to Primo</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
            	<li><a class="text-muted" href="/web/about-us/library-policies/">Library Policies</a></li>
            	<li><a class="text-muted" href="/web/about-us/news-exhibits/">News &amp; Exhibits</a></li>
            	<li><a class="text-muted" href="/web/about-us/visitors/">Visitors</a></li>
            	<li><a class="text-muted" href="/web/about-us/support-yul/">Support YUL</a></li>
            </ul>
          </div>
        </div>
      </footer> -->
    </div>

  </body>
</html>
